.sentencesContainer {
    min-width: 32em;
    max-width: 52em;
    width: 100%;
    
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    color: var(--secondary-text-color);

    border-width: 5px;
    border-style: solid;
    border-color: var(--secondary-color);
    color: var(--main-text-color);

    padding-bottom: 1rem;
    border-radius: 26px;
}

.sentencesContainer-inactive {
    min-width: 32em;
    max-width: 52em;
    width: 100%;
    
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--secondary-text-color);

    padding-bottom: 1rem;
    border-radius: 26px;
}

.sentencesSeperator {
    background-color: var(--secondary-color);
    padding: 20px;
    box-sizing: border-box;
    width: 100%;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.sentencesSeperator-inactive {
    display: none;
}

.sentencesSeperator > h2 {
    margin-bottom: 1rem;
}

.sentences {
    min-width: 30em;
    max-width: 50em;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.noSentence {
    min-width: 30em;
    max-width: 50em;
    width: 100%;
}

.noSentenceButton {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    border: none;
    color: var(--highlight-text-color) !important;
    padding: 10px 20px !important;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    text-align: center;

    font-size: x-large;
}

.sentenceOptions {
    display: flex;
    gap: 1rem;
}