.senseContainer {
    pointer-events: none;
}

.entryTranslation {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: start;
}

.sensePos {
    font-size: 0.8em;
    color: var(--secondary-text-color);
}

.senseTranslations {
    font-size: 1.2em;
}

.senseButton {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    border: none;
    color: white;
    padding: 10px 10px !important;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    pointer-events: auto;
}

.senseButton:hover {
    background-color: rgb(27, 27, 27);
}

.senseButton input[type="checkbox"] {
    appearance: none;
  
    color: currentColor;
    width: 2.5em;
    height: 2.5em;
    border: 4px solid var(--main-color);
    border-radius: 5px;
  
    display: grid;
    place-content: center;
  }
  
  .senseButton input[type="checkbox"]::before {
    content: "";
    width: 2em;
    height: 2em;
    border-radius: 5px;

    background-color: var(--button-color);
  }
  
  .senseButton input[type="checkbox"]:checked::before {
    background-color: var(--highlight-text-color);
  }


.senseInfo {
    display: flex;
    flex-direction: column;
    text-align: start;
}