.senseContainer {
    pointer-events: none;
}

.entryTranslation {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: start;
}

.sensePos {
    font-size: 0.8em;
    color: var(--secondary-text-color);
}

.senseTranslations {
    font-size: 1.2em;
}

.senseButton {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);

    border: solid;
    border-color: var(--button-color);
    border-radius: 10px;

    color: white;
    padding: 10px 10px !important;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    pointer-events: auto;

    color: var(--main-text-color);
}

.senseButton:hover {
    border-color: var(--secondary-highlight-color);
}

.senseButtonSelected {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--button-color);

    border: solid;
    border-color: var(--button-border-color);
    border-radius: 10px;

    color: white;
    padding: 10px 10px !important;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    pointer-events: auto;
    color: var(--main-text-color);
}

.senseButtonSelected:hover {
    border-color: var(--highlight-text-color);
}

.senseInfo {
    display: flex;
    flex-direction: column;
    text-align: start;
}