.anki-active {
    width: 100em;
    margin: 20px;
    margin-top: 40px;

    background-color: var(--secondary-color);
    border-radius: 5px;
}

.anki-card {
    background-color: var(--tertiary-color);
    height: fit-content;
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 40px;
    position: relative;
    
    border-style: solid;
    border-width: 2px;
    border-color: var(--highlight-text-color);

    display: flex;
    justify-content: space-between;

    color: white;
}

.anki-back {
    width: 100%;
    padding: 0px 20px;
}

.anki-front {
    width: 100%;
    padding: 0px 20px;
}

.vr:after {
    height: 90%;
    content: "";
    position: absolute;
    border-left: 6px dashed #202020;
}

.cardFrontSlug {
    font-size: 4em;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 3em;
}

.cardFrontSentence {
    font-size: 2em;
    text-align: center;
}

.cardBackContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.cardBackContent > hr {
    border: 1px solid white;
    width: 80%;
}

.cardBackSlugContent {
    text-align: center;
    margin-top: 0.5em;
}

.cardBackSlug {
    font-size: 4em;
}

.cardBackSlugReading {
    font-size: 1.5em;
}

.cardSenses {
    margin-top: 10px;
}

.cardSense {
    margin-bottom: 5px;
}

.cardSensePos {
    font-size: 0.8em;
    color: var(--secondary-text-color);
}

.cardBackSentence {
    margin-top: 20px;
}

.cardBackSentenceJp {
    font-size: 2em;
    text-align: center;
}

.cardSide {
    text-align: center;
    color: #151515;
    font-size: 2em;
    font-weight: 700;
}

.options {
    display: flex;
    padding: 20px;
    gap: 20px;
    color: var(--main-text-color);
}

.ankiDeckName {
    min-width: 20em;
    max-width: 10em;
    width: 100%;

    background-color: #303030;
    border: 2px solid #505050;
    border-radius: 5px;
    color: white;
    outline: none;
    padding-left: 10px;
    font-size: 1em;
}

.ankiDeckName:focus {
    border: 2px solid var(--highlight-text-color);
}

.ankiButton {
    width: 10em;
    background-color: var(--orange-button);
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.ankiButton:hover {
    
    background-color: var(--orange-hover-button);
}

.ankiButton:active {
    background-color: var(--orange-click-button)
}